* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}
